In [2]:
import numpy as np
import pandas as pd

np.random.seed(123)

n_sample = 1000
class_0_ratio = 0.9
n_class_0 = int(n_sample * class_0_ratio)
n_class_1 = n_sample - n_class_0

In [3]:
n_class_0,n_class_1

(900, 100)

In [ ]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET

class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 0,scale = 1,size = n_class_0),    #loc means mean and scale means standard deviation
    'feature_2' : np.random.normal(loc = 0,scale = 1,size = n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 1,scale = 1,size = n_class_1),
    'feature_2' : np.random.normal(loc = 1,scale = 1,size = n_class_1),
    'target' : [1] * n_class_1
})

In [6]:
df = pd.concat([class_0,class_1]).reset_index(drop = True) #concatenate the two dataframes and reset the index , drop the old index

In [7]:
df.head(3)

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0

In [8]:
df.tail(3)

     feature_1  feature_2  target
997   0.131760   0.640703       1
998   1.902006  -0.609695       1
999   1.697490   1.013570       1

In [9]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## UPSAMPLING - WE BALANCE BY MAKING SMALL VALUE BIG

In [10]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [11]:
from sklearn.utils import resample #import the resample function from sklearn where resample is used to balance the dataset

In [19]:
df_upsampled = resample(df_minority,replace = True ,
                        n_samples = len(df_majority),
                        random_state = 42
                        )

In [13]:
df_upsampled.head(3)

     feature_1  feature_2  target
951   0.125854   0.843917       1
992   1.196570   0.397425       1
914   0.932170   1.998053       1

In [14]:
pd.concat([df_majority,df_upsampled])

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
952   0.188902   1.189189       1
965   2.919526   0.980541       1
976   1.810326   2.604614       1
942   2.621531   1.168229       1
974   0.160887   1.489203       1

[1800 rows x 3 columns]

## Down Sampling

In [ ]:
df_downsampled = resample(df_majority,replace=False,   #false when we want to downsample
                          n_samples = len(df_minority),
                          random_state = 42
                          )

In [22]:
pd.concat([df_minority , df_downsampled])

     feature_1  feature_2  target
900   0.699768   1.139033       1
901   0.367739   1.025577       1
902   0.795683   0.803557       1
903   1.213696   2.312255       1
904   2.033878   2.187417       1
..         ...        ...     ...
201  -0.598105   1.575650       0
269   0.420180   0.570631       0
862  -0.392309   0.446491       0
815  -0.148405  -0.457929       0
270  -1.213385   0.675504       0

[200 rows x 3 columns]